<div class="navbar">
    <div class="flex-1">
        <a class="btn btn-ghost text-3xl text-primary">
            <span class="icon-[bi--code-slash]"></span>
        </a>
    </div>
    <div class="flex-none">
        <ul #navMenu class="menu menu-horizontal items-center px-1 text-base">
            <li routerLink="Home" fragment="About"><a>About Me</a></li>
            <li routerLink="Home" fragment="Skills"><a>Skills</a></li>
            <li routerLink="Home" fragment="Projects"><a>Projects</a></li>
            <li routerLink="Home" fragment="Contact"><a>Contact</a></li>
            <li>
                <input type="checkbox" value="lemonade" class="toggle theme-controller" />
            </li>
        </ul>
    </div>
</div>