<div class="navbar">
    <div class="flex-1">
        <a class="btn btn-ghost text-3xl text-primary">
            <span class="icon-[bi--code-slash]"></span>
        </a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1 text-base">
            <li><a>About Me</a></li>
            <li><a>Skills</a></li>
            <li>
                <details>
                    <summary>Projects</summary>
                    <ul class="bg-base-200 rounded-t-none p-2">
                        <li><a>Project 1</a></li>
                        <li><a>Project 2</a></li>
                    </ul>
                </details>
            </li>
            <li><a>Contact</a></li>
            <li>
                <input type="checkbox" value="lemonade" class="toggle theme-controller" />
            </li>
        </ul>
    </div>
</div>