<div class="mb-4">
    <label class="font-light">{{label()}}</label>
    <input
        [type]="type()"
        [formControl]="control"
        [placeholder]="placeholder()"
        class="input input-bordered w-full bg-base-200 focus:outline-primary mb-1"
    />
    @if (control.hasError('required') && control.touched ) {
        <div role="alert" class="alert alert-warning text-sm py-1 rounded-md">
            <span class="icon-[bi--exclamation-circle]"></span>
            <span>Warning: Please enter a {{label().toLowerCase()}}</span>
        </div>
    }
    @if (control.hasError('maxlength') && control.touched ) {
        <div role="alert" class="alert alert-warning text-sm py-1 rounded-md">
            <span class="icon-[bi--exclamation-circle]"></span>
            <span>Warning: {{label()}} must be at most {{control.errors?.['maxlength'].requiredLength}} characters</span>
        </div>
    }
    @if (control.hasError('email') && control.touched ) {
        <div role="alert" class="alert alert-warning text-sm py-1 rounded-md">
            <span class="icon-[bi--exclamation-circle]"></span>
            <span>Warning: Please enter a valid email address</span>
        </div>
    }
</div>
