<div class="grid grid-cols-12 gap-x-4 md:gap-x-8 pt-4 md:pt-8 lg:pt-16">
    @for (experience of experiences; track $index) {
    <div #timelinePath class="col-span-1 lg:col-span-2 border-e border-primary">
        <span class="absolute top-1/2 left-full -translate-x-1/2 -translate-y-1/2 flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-primary"></span>
        </span>
    </div>
    <div class="col-span-1 lg:col-span-2"></div>
    <div class="col-span-10 lg:col-span-8 flex w-full flex-col justify-center my-4">
        <div #timelineCard class="card bg-base-200 shadow-xl md:gap-8">
            <div class="card-body">
                <div class="grid grid-cols-4 gap-4 pb-4">
                    <div class="grid col-span-full lg:order-2 lg:col-span-1 items-center lg:justify-items-end">
                        <div class="badge badge-primary badge-outline">{{experience.type}}</div>
                    </div>
                    <div class="col-span-full lg:order-1 lg:col-span-3">
                        <h2 class="card-title text-2xl md:text-3xl font-medium">{{experience.title}}</h2>
                    </div>
                    <div class="col-span-full lg:order-3 lg:col-span-3">{{experience.company}}</div>
                    <div class="grid col-span-full lg:order-4 lg:col-span-1 items-center lg:justify-items-end">
                        {{experience.duration}}</div>
                </div>
                <div class="divider m-0"></div>
                <div class="collapse collapse-arrow">
                    <input type="checkbox" />
                    <div class="collapse-title">Description</div>
                    <div class="collapse-content">
                        <ul class="text-base font-light">
                            @for (description of experience.descriptions; track $index) {
                            <li class="pt-4">{{description}}</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>