<!-- Nav bar -->
<div class="navbar">
  <div class="flex-1">
    <a class="btn btn-ghost text-3xl text-primary">
      <span class="icon-[bi--code-slash]"></span>
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-base">
      <li><a>About Me</a></li>
      <li><a>Skills</a></li>
      <li>
        <details>
          <summary>Projects</summary>
          <ul class="bg-base-200 rounded-t-none p-2">
            <li><a>Project 1</a></li>
            <li><a>Project 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Contact</a></li>
      <li>
        <input type="checkbox" value="lemonade" class="toggle theme-controller"/>
      </li>
    </ul>
  </div>
</div>

<div class="flex w-full flex-col px-8">

<!-- Hero -->
<div class="hero py-6 px-16">
  <div class="flex w-full flex-col-reverse gap-8 sm:flex-row">
    <div class="basis-1/2 place-content-center">
      <h1 class="text-8xl font-heading">HELLO, I AM <span class="text-primary">YUTA</span></h1>
      <p class="py-6 font-light">
        Sydney based software engineer passionate about building efficient and scalable web applications.
      </p>
      <div class="flex gap-4">
        <button class="btn btn-primary btn-xs sm:btn-sm md:btn-md lg:text-lg">CONTACT</button>
        <button class="btn btn-primary btn-outline btn-circle btn-xs sm:btn-sm md:btn-md">
          <span class="icon-[bi--linkedin] lg:text-xl"></span>
        </button>
        <button class="btn btn-primary btn-outline btn-circle btn-xs sm:btn-sm md:btn-md lg:text-xl">
          <span class="icon-[bi--github] lg:text-xl"></span>
        </button>
      </div>
    </div>
    <div class="basis-1/2 flex justify-center items-center">
      <img
        src="assets/avatar.png"
        class="max-w-sm rounded-lg shadow-xl outline outline-primary outline-2 bg-secondary"/>
    </div>
  </div>
</div>

<div class="divider"></div>

<!-- About Me -->

<div class="grid grid-cols-1 gap-8 py-6 px-16 sm:grid-cols-12">
  <div class="sm:col-span-4">
    <h1 class="text-8xl font-heading">ABOUT ME</h1>
  </div>
  <div class="sm:col-span-8">
    <p class="text-3xl font-medium">
      I am a full-stack developer based in Sydney.
      Has a master degree in IT majoring in enterprise applications.
    </p>
    <p class="py-6 font-light">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
      quasi. In deleniti eaque aut repudiandae et a id nisi.
    </p>
    <a class="link link-primary">MORE ABOUT ME</a>
  </div>
</div>

<div class="divider"></div>

<!-- Skills -->
<div class="grid grid-cols-1 py-6 px-16 sm:grid-cols-12">
  <div class="sm:col-span-4">
    <h1 class="text-8xl font-heading">SKILLS</h1>
  </div>
  <div class="sm:col-span-8">
    <div class="flex w-full text-3xl font-medium">Frontend</div>
    <div class="flex gap-2 py-4 flex-wrap">
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--html5] text-5xl"></span>
        <h3 class="font-light text-sm">HTML</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--css3] text-5xl"></span>
        <h3 class="font-light text-sm">CSS</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--bootstrap] text-5xl"></span>
        <h3 class="font-light text-sm">Bootstrap</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--tailwindcss] text-5xl"></span>
        <h3 class="font-light text-sm">Tailwind CSS</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--javascript] text-5xl"></span>
        <h3 class="font-light text-sm">Javascript</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--typescript] text-5xl"></span>
        <h3 class="font-light text-sm">Typescript</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--threejs] text-5xl"></span>
        <h3 class="font-light text-sm">Three.js</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--angular] text-5xl"></span>
        <h3 class="font-light text-sm">Angular</h3>
      </div>
    </div>
    <div class="flex w-full text-3xl font-medium">Backend</div>
    <div class="flex gap-2 py-4 flex-wrap">
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--csharp] text-5xl"></span>
        <h3 class="font-light text-sm">C#</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--dotnetcore] text-5xl"></span>
        <h3 class="font-light text-sm">ASP.NET Core</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--mysql] text-5xl"></span>
        <h3 class="font-light text-sm">MySQL</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--microsoftsqlserver] text-5xl"></span>
        <h3 class="font-light text-sm">MS SQL</h3>
      </div>
    </div>
    <div class="flex w-full text-3xl font-medium">Cloud & Infra</div>
    <div class="flex gap-2 py-4 flex-wrap">
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--azure] text-5xl"></span>
        <h3 class="font-light text-sm">Azure</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--amazonwebservices-wordmark] text-5xl"></span>
        <h3 class="font-light text-sm">AWS</h3>
      </div>
      <div class="flex flex-col items-center justify-center min-h-12 rounded-lg bg-base-200 shadow-xl w-32 h-24 gap-1 hover:outline hover:outline-primary hover:outline-1 hover:bg-secondary hover:text-secondary-content">
        <span class="icon-[devicon--docker] text-5xl"></span>
        <h3 class="font-light text-sm">Docker</h3>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<!-- Projects -->
<div class="grid grid-cols-1 py-6 px-16 sm:grid-cols-12">
  <div class="sm:col-span-12">
    <h1 class="text-8xl font-heading">Projects</h1>
    <p class="py-6 text-base font-light">
      Here are some of the projects that showcase my passion and skills for software engineer.
    </p>
  </div>
  <div class="sm:col-span-12">
    <div class="card lg:card-side bg-base-200 shadow-xl gap-8">
      <div class="basis-1/3 p-10">
        <figure>
          <img
          class="rounded-lg"
            src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
            alt="Album" />
        </figure>
      </div>
      <div class="card-body basis-2/3">
        <h2 class="card-title text-3xl font-medium">Project Title</h2>
        <p class="py-6 text-base font-light">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <div class="flex w-full flex-col">
          <div class="divider"></div>
          <div class="flex w-full gap-4">
            <div class="flex basis-1/4">Year</div>
            <div class="flex basis-3/4 items-center justify-end">2024</div>
          </div>
          <div class="divider"></div>
          <div class="flex w-full gap-4 ">
            <div class="flex basis-1/4">Texh Stack</div>
            <div class="flex basis-3/4 items-center justify-end gap-1 flex-wrap">
              <div class="badge badge-primary badge-outline">Budge</div>
              <div class="badge badge-primary badge-outline">Budge</div>
              <div class="badge badge-primary badge-outline">Budge</div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div class="card-actions justify-start">
          <a class="link link-primary">LIVE DEMO <span class="icon-[bi--arrow-up-right] text-lg"></span></a>
          <a class="link link-primary">SEE ON GITHUB <span class="icon-[bi--github] text-lg"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<!-- Contact -->

<div class="grid grid-cols-1 gap-8 py-6 px-16 sm:grid-cols-12">
  <div class="sm:col-span-6">
    <h1 class="text-8xl font-heading">LET'S CONNECT</h1>
    <p class="py-6 text-base font-light">
      Say hello at <a class="link link-primary">yuta.h714&#64;gmail.com</a>
    </p>
  </div>
  <div class="sm:col-span-6">
    <label for="" class="font-light">Name</label>
    <input type="text" placeholder="Type here" class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary"/>
    <label for="" class="font-light">Email</label>
    <input type="text" placeholder="Type here" class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary" />
    <label for="" class="font-light">Subject</label>
    <input type="text" placeholder="Type here" class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary" />
    <label for="" class="font-light">Message</label>
    <input type="text" placeholder="Type here" class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary" />
    <button class="btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-md lg:text-lg">Submit</button>
  </div>
</div>

</div>

<!-- Footer -->
<footer class="footer footer-left text-base-content p-4">
  <aside>
    <p>©2024 - Yuta Horiuchi</p>
  </aside>
</footer>