<section id="hero">
    <div class="hero min-h-screen px-1 py-6 md:px-8 lg:px-16">
        <div class="flex w-full flex-col-reverse gap-8 md:flex-row">
            <div class="basis-1/2 place-content-center">
                <h1 #heroTitle class="text-6xl md:text-8xl font-heading">
                    HELLO, I AM <span class="text-primary">YUTA</span>
                </h1>
                <p #heroParagraph class="pb-6 font-light">
                    {{data.hero.subtitle}}
                </p>
                <div #heroButtons class="flex gap-4">
                    <a href="mailto:{{data.contact.email}}">
                        <button class="btn btn-primary">CONTACT</button>
                    </a>
                    <a href="{{data.hero.contactLinks.linkedin}}" target="_blank"
                        class="btn btn-primary btn-outline btn-circle">
                        <span class="icon-[bi--linkedin] text-xl"></span>
                    </a>
                    <a href="{{data.hero.contactLinks.github}}" target="_blank"
                        class="btn btn-primary btn-outline btn-circle">
                        <span class="icon-[bi--github] text-xl"></span>
                    </a>
                </div>
            </div>
            <div #heroAvatar class="basis-1/2 flex justify-center items-center">
                <img src="{{data.hero.avatar}}"
                    class="rounded-lg shadow-xl outline outline-primary outline-2 bg-secondary" />
            </div>
        </div>
    </div>
</section>
