<section id="projects">
    <div class="grid min-h-[80vh] grid-cols-1 gap-4 px-1 py-8 md:gap-8 md:px-8 md:py-16 lg:px-16 lg:py-24 md:grid-cols-12">
        <div class="md:col-span-12">
            <h1 #projectsTitle class="pb-4 text-6xl md:text-8xl font-heading">Projects</h1>
            <p #projectsSubtitle class="text-base font-light">
                Here are some of the projects that showcase my passion and skills for software engineer.
            </p>
        </div>
    
        @for (project of data.projects; track $index) {
            <div class="gap-4 md:gap-8 md:col-span-12">
                <app-project-card [project]="project"></app-project-card>
            </div>
        }
    </div>
</section>