<div class="grid grid-cols-1 gap-8 py-6 md:px-8 lg:px-16 md:grid-cols-12">
    <div class="md:col-span-6">
        <h1 class="text-6xl md:text-8xl font-heading">LET'S CONNECT</h1>
        <p class="py-6 text-base font-light">
            Say hello at <a class="link link-primary">yuta.h714&#64;gmail.com</a>
        </p>
    </div>
    <div class="md:col-span-6">
        <label for="" class="font-light">Name</label>
        <input type="text" placeholder="Type here"
            class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary" />
        <label for="" class="font-light">Email</label>
        <input type="text" placeholder="Type here"
            class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary" />
        <label for="" class="font-light">Subject</label>
        <input type="text" placeholder="Type here"
            class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary" />
        <label for="" class="font-light">Message</label>
        <input type="text" placeholder="Type here"
            class="input input-bordered w-full mb-4 bg-base-200 focus:outline-primary" />
        <button class="btn btn-primary w-full md:w-auto">SEND</button>
    </div>
</div>