<section id="contact">
    <div class="grid min-h-[80vh] grid-cols-1 px-1 py-8 gap-4 md:gap-8 md:px-8 md:py-16 lg:px-16 lg:py-24 md:grid-cols-12">
        <div class="md:col-span-6">
            <h1 #contactTitle class="text-6xl md:text-8xl font-heading">LET'S CONNECT</h1>
            <p #contactSubtitle class="py-6 text-base font-light">
                Say hello at <a href="mailto:{{data.contact.email}}" class="link link-primary">{{data.contact.email}}</a>
            </p>
        </div>
        <div #contactFormGroup class="md:col-span-6">
            <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
                <app-text-input
                    [label]="'Name'"
                    [placeholder]="'Enter your name'"
                    [formControl]="$any(contactForm.controls['name'])"
                ></app-text-input>
                <app-text-input
                    [label]="'Email'"
                    [type]="'email'"
                    [placeholder]="'Enter your email address'"
                    [formControl]="$any(contactForm.controls['email'])"
                ></app-text-input>
                <app-text-input
                    [label]="'Subject'"
                    [placeholder]="'Enter subject of the message'"
                    [formControl]="$any(contactForm.controls['subject'])"
                ></app-text-input>
                <app-textarea
                    [label]="'Message'"
                    [placeholder]="'Enter your message'"
                    [formControl]="$any(contactForm.controls['message'])"
                ></app-textarea>
                <button [disabled]="!contactForm.valid || isSending" class="btn btn-primary w-full">
                    @if (isSending) {
                        <span class="loading loading-spinner"></span>
                    } @else {
                        SEND
                    }
                </button>
            </form>
        </div>
    </div>
</section>
